@import "./smacss/layout.scss";
// .AboutWildLifeContainer{
// display: flex;
// flex-direction: row;
// padding: 150px 150px 100px 150px;
// justify-content: space-between;
// //align-items: center;
// background-color: #323232;
// height: auto;

// }
.humanPhoto{
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;

} 
.Aboutinfo{
width: 41%;
text-align: start;
}
.backshedding{
    font-size: 85px;
    line-height: 1em;
    font-weight: 800;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
   // padding-top: 1em;
   // height: 170px;
  
}
.frontshedding{
    font-size: 50px;
    line-height: 1em;
    font-weight: 700;
    color:#ffffff;
    position: relative;
    bottom: 1.3em;
  
}
.ReadMoresbuttonss{
    height: 65px;
    width: 160px;
margin-top: 10px;
  border-radius: 5px;
  background-color:white ; 
     color: black;
     
     font-weight:600 ;
 }
//  .ReadMoresbuttonss:hover{
//      background-color:#FEBF1C ; 
//      color: white;
//  }
 .desc{
     color: white;;
     font-size: 20px;
     padding-bottom: 20px;
 }