.mainCon{
   display: flex;
   flex-direction: column;
   height: auto;
   position: relative;
   bottom: 200px;
}
.infoCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 100px 100px 100px;
    justify-content: space-around;
    height: auto;
}  
.subCon{
    display: flex;
    flex-direction: column;
   text-align: start;
    width: 30%;
} 
.dateCon{
   width: 35%;
   padding: 5px 15px 5px 15px;
   background-color: black;
   color: white;
   border-radius: 5px;
}
 
.hedCon{
    font-size: 22px;
    line-height: 1.3;
    margin-top: 20px;
    font-weight: 700;
} 
.hedCon:hover{
    color: #FEBF1C;
}
.descCon{
    margin-top: 20px;
    font-size: 20px;
        color: rgba(21, 21, 21, 0.6);

}
.readMore{
padding-top: 20px;
color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.readMore:hover{
    color: #FEBF1C;  
}