.savedAnimalContainer{
position: relative;
bottom: 150px;
height: 200px;
height: auto;

}
.gallary{
    display: flex;
    padding:10px;
    flex-direction: row;
    flex-wrap: wrap;
  width: 378px;
  height:270px;
}
.imgcontainer{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.ShowIconButtons{
    position : relative;
    left: 131px;
    bottom: 160px;
   width: 50px;
  }
  .hideIconButtons{
    visibility: hidden;
  }
.zoomButton{

    display: inline-block;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding: 25px 5px;
    color: #151515;
    font-weight: 500;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.zoomButton:hover{  
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
}