.captionContainer{
    
    position: relative;
    bottom:9em;
   
    display: flex;
    flex-direction: column;
    width: 50%;
     margin-left:51%;
  
     align-items: flex-start;
}
.SaveTextStyle{
   
    font-size: 170px;
    line-height: 1em;
    font-weight: 800;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
} 
.wildCatstextstyle{
    font-size: 110px;
    font-weight: 300;
} 
.textstyle{
    font-size: 20px;
   color: #D5CFCC;
   text-align: start;
}