.hedderContainer{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    width: 100%;
}
.lowerhedderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    width: 100%;
  }
  .donationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #2D3134;
    width: 100%;
}
.donatedContainer{
    min-height: 500px;
    visibility: visible;
    
}
 .savedAnimalContainer{
        position: relative;
        bottom: 150px;
        height: 200px;
        height: auto;
        
}
.AboutWildLifeContainer{
    display: flex;
    flex-direction: row;
    padding: 150px 150px 100px 150px;
    justify-content: space-between;
    //align-items: center;
    background-color: #323232;
    height: auto;
    
 }
.infoContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 100px;
        justify-content: space-around;
        height: auto;
 } 
.mainCon{
            display: flex;
            flex-direction: column;
            height: auto;
            position: relative;
            bottom: 200px;
}  
.partnerContainer{
    padding-left: 100px;
    padding-right: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  