.ReadMoresbuttonss:hover{
    background-color:#FEBF1C ; 
    color: white;
}
.donatebutton:hover{
    background-color: white;
    color:#FEBF1C;
    font-size: 15px;
    margin-left: 20px;
    width:230px;
    height: 48px;
    border-radius: 5px;
    padding:5px;
}
.ReadMorebuttonss:hover{
    background-color:#FEBF1C ; 
    color: white;
}
.hedContainer:hover{
    color: #FEBF1C;
}
.dateCon:hover{
    background-color:#FEBF1C ;
   
}
.readMore:hover{
    color: #FEBF1C;  
}
.hedCon:hover{
    color: #FEBF1C;
}
.buttonss:hover{
    background-color:#2D3134 ; 
}
.animalname:hover{
    color: #FEBF1C;
}
.zoomButton:hover{  
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
}
.zebrabutton:hover{
    background-color: white;
    color:#FEBF1C;
    font-size: 15px;
    margin-left: 20px;
    width:150px;
    height: 59px;
    font-size: 18px;
    border-radius: 5px;
    padding:5px;
}